<!doctype html>
<html lang="ru">
<head>
    {% load static %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->

    <link href="{% static 'test_data/css/bootstrap.css' %}" rel="stylesheet">

    <style>
        .text-white {
            color: white;
        !important;
        }

        body {
            background-color: lightgray;
        !important;
        }
    </style>


    {% block css %}{% endblock %}
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}"/>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
{#{% include 'testing/navs/nav.html' %}#}

{% block content %}{% endblock %}
<script src="{% static 'test_data/js/jQueryLocal.js' %}"></script>
<script src="{% static 'test_data/js/bootstrap.js' %}"></script>
<script src="{% static 'test_data/js/Popper.js' %}"></script>


{% block js %}{% endblock %}
</body>
</html>